body {
  background-color: #000000;
  font-family: "Arial", Helvetica, sans-serif;
  color: #FFFFFF;
}
div.logo {
  background-image: url(breadhub.png);
  background-size: 100%;
  width: 200px;
  height: 75px;
}
div.video = {
  background-color: #888888;
  margin: 20px;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.navbar {
  background-color: #222222;
  width: 200px;
  height: 100%;
  font-size: 25px;
  float: left
}
ul.navbar a:link {
  color: #FFFFFF;
}
ul.navbar a:visited {
  color: #FFFFFF;
}
ul.navbar a:hover {
  color: #DDDDDD;
}
ul.navbar a:active {
  color: #FFFFFF;
}

div.video a:link {
  color: #FFFFFF;
}
div.video a:visited {
  color: #FF8888;
}
div.video a:hover {
  color: #DDDDDD;
}
div.video a:active {
  color: #FFFFFF;
}

li {
  margin-bottom: 35%;
}

div.feature { /* I have no idea how this works but it does */
  position: relative;
}
div.feature a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
} /* And that's the end of the 'how does this work' section*/

table.videos {
  width: 50%;
  margin: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
video.player {
  width: 640px;
  height: 360px;
}

div.video_container {
  width: 640px;
  font-size: 20px;
}
